.container
  %h1
    %span{class: 'tic'}tic
    %span{class: 'tock'}t
    #clock
    %span{class: 'tock'}ck
  #app
  / .row.places-form
  /   =form_tag '/' do
  /     .small-offset-1.small-10.large-offset-3.large-4.columns
  /       =text_field_tag :location, '', placeholder: 'location'
  /     .small-offset-1.small-10.large-offset-7.large-2
  /       =submit_tag 'Submit', class: 'button radius'
  .row.places-form
    =form_tag '/' do
      .small-offset-1.small-10.large-offset-3.large-4.columns
        =text_field_tag :location, '', placeholder: 'location'
      .hide-for-small.large-2.columns
        =submit_tag 'Submit', class: 'button radius'
      .row.show-for-small
        =submit_tag 'Submit', class: 'button radius'



