.container
  %h1
    %span{class: 'tic'}tic
    %span{class: 'tock'}t
    #clock
    %span{class: 'tock'}ck
  #app
  .row.places-form
    =form_tag '/' do
      .small-offset-2.small-20.large-offset-6.large-8.columns
        =text_field_tag :location, '', id: 'search-places'
      .hide-for-small.large-4.columns
        =submit_tag 'Submit', class: 'button radius'
      .row.show-for-small
        =submit_tag 'Submit', class: 'button radius'
  .row.results
    / Mobile
    .row.show-for-small.hide-for-large
      .small-offset-2.small-20.columns
        %h1 San Francisco
    .row.show-for-small.hide-for-large
      .small-offset-2.small-20.columns
        %h1 Time in One
    / Web
    .row.hide-for-small.show-for-large
      .large-6.columns.city
        %h3 San Francisco
      .large-18.columns.timebox-container
        %ul{class: 'large-block-grid-24'}
          - 24.times do |num|
            %li
              %h3= num % 12 + 1




